.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  border: 1px solid lightgrey;
  padding: 5px 20px 15px 20px;

}


.container-cart {
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=email] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-checkout {
  background-color: white;
  border-color: grey;
  color: black;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.btn-checkout:hover {
  background-color: black;
  color: white;
}

span.price {
  float: right;
  color: grey;

}

.product-title {
  color: black;

}

#product-list {
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

/* För små skärmar (mobil) */
@media (max-width: 991px) {
  .dropdown-menu {
    left: 0;
    right: auto;
  }
}


.dropdown-item {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.outer-div {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: start;
}

.quantity-input {
  width: 40px;
  height: 40px;
}

.close-button {
  width: 40px;
  height: 40px;
  fill: lightgray;
  transition: all 0.3s ease;
  opacity: 0.5;
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.close-button:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: none;
}

.close-button:active {
  transform: scale(0.9)
}

#theNavBar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#dropdownData {
  max-height: 50vh;
  width: 300px;
  overflow-x: block;
  overflow-y: auto;
}